{
  "jsc": {
      "parser": {
          "syntax": "typescript",
          "decorators": true
      },
      "transform": {
          "decoratorMetadata": true,
          "legacyDecorator": true
      },
      "target": "es2022",
      "loose": true,
      "baseUrl": ".",
      "paths": {
          "~/*": ["./*"]
      }
  },
  "module": {
      "type": "commonjs",
      "strict": false,
      "strictMode": true,
      "lazy": false,
      "noInterop": false
  },
  "sourceMaps": "inline"
}
